.courses-page {
  .courses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 16px;

    .courses-actions {
      display: flex;
      gap: 16px;
      align-items: center;
      flex-wrap: wrap;

      .search-input {
        width: 300px;
      }
    }

    @media (max-width: 576px) {
      /* Подвинуть заголовок «Все курсы» вправо */
      .ant-typography {
       visibility: hidden;
      }
    }
  }
}
.course-flex-container {
	display: flex;
	align-items: flex-start;
	gap: 24px;
	width: 100%;

	@media (max-width: 576px) {
		flex-direction: column;
		align-items: center;
	}
}

.course-avatar-container {
	flex-shrink: 0;
}

.course-title-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
}

.course-actions > button {
	margin-left: 8px;
}
